version: "3.9"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - tavrika

  api:
    build:
      context: .
      dockerfile: dockerfile
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - tavrika
    command: uvicorn api_main:app --host 0.0.0.0 --port 8000

  bot:
    build:
      context: .
      dockerfile: dockerfile
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - tavrika
    command: python main.py

volumes:
  redis_data:

networks:
  tavrika:
    external: true
