version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: reservation-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - tavrika

  api:
    build: .
    container_name: reservation-api
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - tavrika

  bot:
    build: .
    container_name: reservation-bot
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - tavrika

volumes:
  redis_data:

networks:
  tavrika:
    driver: bridge
